<header class="header">
  <div class="content header-content">
    <h1 *ngIf="view === 'list' || view === 'grid'">Список городов</h1>
    <h1 *ngIf="view === 'edit'">Создание города</h1>
  </div>
</header>

<main class="content cities-wrapper">
  <div class="btn-wrapper">
    <div>
      <button
        *ngIf="view === 'list' || view === 'grid'"
        class="btn-primary"
        [ngClass]="{ active: view === 'grid' }"
        (click)="toggleListView()"
      >
        Список
      </button>
      <button
        *ngIf="view === 'list' || view === 'grid'"
        class="btn-primary"
        [ngClass]="{ active: view === 'list' }"
        (click)="toggleTileView()"
      >
        Плитка
      </button>
      <button
        *ngIf="view === 'edit'"
        class="btn-back"
        (click)="toggleListView()"
      >
        Назад
      </button>
    </div>
    <button
      *ngIf="view === 'list' || view === 'grid'"
      class="btn-create"
      (click)="toggleCreateView()"
    >
      Создать
    </button>
  </div>
  <div class="main">
    <ul *ngIf="view === 'list'">
      <li *ngFor="let i of cities">
        <app-list-item (onChange)="editCity($event)" [city]="i"></app-list-item>
      </li>
    </ul>

    <ul class="grid-view" *ngIf="view === 'grid'">
      <li *ngFor="let i of cities">
        <app-grid-item (onChange)="editCity($event)" [city]="i"></app-grid-item>
      </li>
    </ul>

    <div *ngIf="view === 'edit'">
      <app-edit-form (add)="createCity($event)"></app-edit-form>
    </div>
  </div>
</main>

<footer class="footer"></footer>
