.tile {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 320px;
  max-height: 320px;
  margin-right: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.tile:hover {
  box-shadow: 0px 3px 6px #4c5d703d;
}

.image {
  width: 320px;
  height: 188px;
}

.name-wrapper {
  display: flex;
  align-items: center;
}

.info {
  min-height: 112px;
  background-color: #f2f5fa;
}

.name {
  font-size: 16px;
  min-height: 28px;
  margin: 18px 14px 12px 20px;
  color: #434652;
}

.description {
  margin-top: 10px;
  font-size: 14px;
  margin: -8px 20px;
  color: #757986;
}
