.list-item {
  display: flex;
  gap: 28px;
  max-width: 1330px;
  border-top: 1px solid #d3d4db;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin: 19.5px 0;
}

.info {
  padding-top: 50px;
}

.name-wrapper {
  display: flex;
  align-items: center;
}

.name {
  font-size: 16px;
  margin-right: 14px;
  line-height: 20px;
  color: #434652;
}

.description {
  margin-top: 12px;
  font-size: 14px;
  color: #757986;
}
