input,
textarea {
  padding: 5px;
  line-height: 24px;
  min-width: 534px;
  border: 1px solid#D3D4DB;
}

.input-title {
  display: block;
  margin-top: 16px;
  margin-bottom: 5px;
  font-family: Roboto;
  font-size: 14px;
  color: #434652;
}

.city-name {
  margin-bottom: 6px;
}

.city-description {
  margin-bottom: 2px;
  height: 80px;
  resize: vertical;
}

.btn-create {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 36px;
  border-radius: 4px;
  margin-top: 40px;
  padding: 0px, 20px, 0px, 20px;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
  background: #21a5b9;
}
